﻿@model IEnumerable<WebBayZon.Models.ProductOrder>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("Name")
        </th>
        <th>
            @Html.Raw("Order Costs")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)

                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.Raw("£")
                @Html.DisplayFor(modelItem => item.ProductPrices)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {  id=item.CustomerID  }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID })
                @Html.ActionLink("Delete", "Delete", new {  id=item.CustomerID  })
            </td>
        </tr>
    }

</table>
