﻿@model EntityFrameworkDB.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDementions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDementions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
