﻿<%@Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="ImageViewer.Views.Image.Index" CodeBehind="~/Views/Image/Index.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Index
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <% foreach (var image in ViewData.Model) { %>
    <span class="image">
        <a href="images/<%= image.Path %>">
            <img src="images/<%= image.Path %>" height="100" width="100" />
        </a>
        <span class="description"><%= image.Description %></span>
    </span>
    <% }%>

</asp:Content>